.row {
    margin: 50px;
}

.tm-site-header {
    display: flex;
    

}

.tm-site-header{

    height: auto;
    display: flex;
    justify-content: center;

}

.banner-top{

    display: flex;
    flex-shrink: 1;
    flex-grow: 1;

}

.tm-site-header div {
    flex-grow: 1;
    text-align: center;
    
}

.align-text {

    margin: 30px;
    text-align: center;
}

#formulario {
       background-color:#959595;     
       padding: 20px;

}


#form{


margin-top: -70px;   
position: relative;
color: white;

}

#form-campos{

    padding-bottom: 30px;
    background-color: #5063EF;

}

#submit-button {

    background-color:#67FFB8;
    margin-top: 10px;
    color: #5063EF;

}

#form p {

    margin-top: 0px;
}

#imagem-logo {

    margin-left: 300px;
    margin-bottom: -100px;
    width: 200px;
      
    


}

@font-face {
    font-family: "Gotham Bold";
    src: url("Gotham-Bold.otf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans Extrabold";
    src: url("OpenSans-ExtraBold.ttf");
}

h2{

    font-family: "Gotham Bold";

}

p{
    font-family: "Open Sans Regular";
}

body{
    font-family: "Open Sans Regular";
}
