.row {
    margin: 50px;
}

.tm-site-header {
    display: flex;
    

}

.tm-site-header{

    height: 600px;
    display: flex;
    justify-content: center

}

.tm-site-header div {
    flex-grow: 1;
    text-align: center;

}

